.icon-container {
  border-radius: 50%;
  padding: 8px;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s ease-in-out;
}

.icon-container:hover {
  background-color: #1e1e1e;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overlay {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */

  background-color: #000000f5; /* Black background with transparency */
  z-index: 1000; /* Sit on top */
}

.overlay-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

#local {
  width: 300px;
  height: 300px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid #000;
}

.remote-video {
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  margin: 10px;
}

.call-page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.fullscreen-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire container without stretching */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
}

.caller-info {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: rgb(137 80 168 / 80%);  */
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  z-index: 1;
}

.action-buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 1;
}
